[submodule "firmware/submodules/ruckus"]
	path = firmware/submodules/ruckus
	url = ../ruckus.git
[submodule "firmware/submodules/surf"]
	path = firmware/submodules/surf
	url = ../surf.git
[submodule "firmware/submodules/aes-stream-drivers"]
	path = firmware/submodules/aes-stream-drivers
	url = ../aes-stream-drivers.git
[submodule "firmware/submodules/axi-soc-ultra-plus-core"]
	path = firmware/submodules/axi-soc-ultra-plus-core
	url = ../axi-soc-ultra-plus-core.git
